form{
    padding: 15px;
    background-color: white;
    font-style: sitalic;
    border-style: solid;
    font-weight:900px;
}
input[type=button] {
    color:black;
    background-color: rgb(0,200,0);
    padding: 5px;

}

#box1{
        background-color:blue;
}
#box:hover{
        background-color:orange;
}

input[type=button] :hover{
    border: solid;
    background-color: rgb(0,230,0);
}
input[type=text] :focus {
    background-color: rgb(0,330,0);
    color: black;
    width: 100%;
    transition:2s;
}

#div1{
    background-color: red;
}
#div2{
    background-color: grey;
}

#div1, div2 {
        border: dashed;
}
table, th, td {
    border:1px solid black;
  }

  .butt{ 
      color:blue;
      font-size:large;
  }

  h2{ 
      color:green;
      font-style:italic;
  }
  .happy{
      background-color:goldenrod;
  }

  *{
      margin:0;
      padding:0;
      border:0;
  }

  .wow{
      position:fixed;
      background-color: pink;
  }
  .welp{ 
        position:relative;
  }
